{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Arif's Profile</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/resume.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none"><i class="fas fa-home"></i> Home</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'img/profile.jpg' %}" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#awards">Awards</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">Arif
          <span class="text-primary">Wahyu</span>
        </h1>
        <div class="subheading mb-5">Tangerang · Banten, Indonesia · (021) 000-0000 ·
          <a href="mailto:emailku@domain.com">emailku@domain.com</a>
        </div>
        <p class="lead mb-5">Hello everyone, my name is Arif Wahyu Pramudiyanto. I am a Software and IoT Engineer who very interesting to learn about new technology especially about linux, web programming and technology, microcontroller, microcomputer and computer networking.</p>
        <div class="social-icons">
          <a href="https://gitlab.com/firalab">
            <i class="fab fa-gitlab"></i>
          </a>
          <a href="https://www.katsulogy.com/">
            <i class="fas fa-link"></i>
          </a>
          <a href="https://www.facebook.com/arif.stark">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://www.instagram.com/arifkatsu/">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://www.youtube.com/channel/UC7h-mVjoYCEgijjHvmt1soQ">
            <i class="fab fa-youtube"></i>
          </a>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Academic Staff</h3>
            <div class="subheading mb-3">SMK Yuppentek-2</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed nibh bibendum, consectetur augue et, maximus odio. Pellentesque ultrices sit amet nibh quis viverra. Morbi finibus felis felis, eu elementum nibh aliquam sit amet. Aliquam ullamcorper cursus felis, mattis vestibulum libero tempus ac. Quisque ac vestibulum lectus, in gravida ex. </p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">2018 - Present</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Informatics and Networking Staff</h3>
            <div class="subheading mb-3">SMK Yuppentek-2</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed nibh bibendum, consectetur augue et, maximus odio. Pellentesque ultrices sit amet nibh quis viverra. Morbi finibus felis felis, eu elementum nibh aliquam sit amet. Aliquam ullamcorper cursus felis, mattis vestibulum libero tempus ac. Quisque ac vestibulum lectus, in gravida ex. </p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">2013 - 2018</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">IT Technical Support</h3>
            <div class="subheading mb-3">SMK Yuppentek-2</div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed nibh bibendum, consectetur augue et, maximus odio. Pellentesque ultrices sit amet nibh quis viverra. Morbi finibus felis felis, eu elementum nibh aliquam sit amet. Aliquam ullamcorper cursus felis, mattis vestibulum libero tempus ac. Quisque ac vestibulum lectus, in gravida ex. </p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">2011 - 2013</span>
          </div>
        </div>

      </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Institut Teknologi Indonesia</h3>
            <div class="subheading mb-3">Bachelor of Computer Science</div>
            <div>Computer Science - IoT Engineer Track</div>
            <!-- <p>GPA: 3.23</p> -->
          </div>
          <!-- <div class="resume-date text-md-right">
            <span class="text-primary">August 2006 - May 2010</span>
          </div> -->
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
          <div class="resume-content">
            <h3 class="mb-0">SMK Yuppentek-2 </h3>
            <div class="subheading mb-3">Software Engineering Program</div>
            <!-- <p>GPA: 3.56</p> -->
          </div>
          <!-- <div class="resume-date text-md-right">
            <span class="text-primary">August 2002 - May 2006</span>
          </div> -->
        </div>

      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Programming Languages &amp; Tools</div>
        <ul class="list-inline dev-icons">
          <li class="list-inline-item">
            <i class="fab fa-html5"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-css3-alt"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-js-square"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-php"></i>
          </li>
          <li class="list-inline-item">
            <i class="fas fa-database"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-linux"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-python"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-gitlab"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-wordpress"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-node-js"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-npm"></i>
          </li>
        </ul>

        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            Mobile-First, Responsive Design</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Cross Browser Testing &amp; Debugging</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Cross Functional Teams</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Agile Development &amp; Scrum</li>
        </ul>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
      <div class="w-100">
        <h2 class="mb-5">Interests</h2>
        <p>Apart from being an IT person, I am also interest in several sports like Jogging and Badminton. And I have tried to learn about martial arts like Boxing and Muay-Thai just because I want to be cool like a protagonist character in action movies.</p>
        <p class="mb-0">When forced indoors, I follow a number of sci-fi and fantasy genre movies, and I spend a large amount of my free time exploring the latest technology advancements in the web development, microcontroller and microcomputer world .</p>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
      <div class="w-100">
        <h2 class="mb-5">Awards &amp; Certifications</h2>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Python Institute Certified</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Networking Academy Orientation course - Cisco Certification</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Coding Teacher Academy - Kominfo - Digital Talent Scholarship 2019</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Assessor of Competency (Workplace Assessment) - LSP Telematika - BNSP Certification</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Assessor of Competency (Network Administrator) - LSP Telematika - BNSP Certification</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Assessor of Competency (Digital Artist) - LSP Telematika - BNSP Certification</li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            Assessor of Competency (Workplace Assessment) - LSP P1 - BNSP Certification</li>
        </ul>
      </div>
    </section>

  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/resume.min.js' %}"></script>

</body>

</html>
