{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>This is Arif</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('.parallax').parallax();
        $('#parallax').hide().fadeIn('slow');
        $('#intro').hide().slideDown('slow');
      });
    </script>
  </head>
  <body>
    <div class="navbar-fixed">
      <nav class="light-blue darken-3">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo center hide-on-med-and-down"><i class="material-icons">home</i></a>
          <a href="/" class="brand-logo left hide-on-large-only"><i class="material-icons">home</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/profile/">Profile</a></li>
            <li><a href="/resume/">Resume</a></li>
            <li><a href="/portfolio/">Portfolio</a></li>
          </ul>
          <ul class="right hide-on-large-only">
            <li><a href="/profile/"><i class="material-icons">account_circle</i></a></li>
            <li><a href="/resume/"><i class="material-icons">list</i></a></li>
            <li><a href="/portfolio/"><i class="material-icons">apps</i></a></li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="parallax-container hide-on-med-and-down">
      <div class="parallax" id="parallax"><img src="{% static 'images/parallax.jpg' %}"></div>
    </div>

    <div class="container">
      <div class="row" id="intro">
        <div class="col s12">
          <h1 class="light-blue-text text-darken-3">Hello everyone</h1>
          <p class="flow-text">I am Arif. I am a Software and IoT Engineer who very interesting to learn about new technology especially about linux, web programming and technology, microcontroller, microcomputer and computer networking.</p><br>
        </div>
      </div>

      <div class="row valign-wrapper">
        <div class="col s12 center-align">
          <a href="https://www.facebook.com/arif.stark" target="_blank"><i class="fab fa-facebook-square fa-2x orange-text text-accent-2"></i></a>&nbsp;&nbsp;
          <a href="https://www.instagram.com/arifkatsu/" target="_blank"><i class="fab fa-instagram fa-2x orange-text text-accent-2"></i></a>&nbsp;&nbsp;
          <a href="https://www.youtube.com/channel/UC7h-mVjoYCEgijjHvmt1soQ" target="_blank"><i class="fab fa-youtube fa-2x orange-text text-accent-2"></i></a>&nbsp;&nbsp;
          <a href="https://www.katsulogy.com/" target="_blank"><i class="fas fa-link fa-2x orange-text text-accent-2"></i></a>&nbsp;&nbsp;
          <a href="https://gitlab.com/firalab" target="_blank"><i class="fab fa-gitlab fa-2x orange-text text-accent-2"></i></a>
        </div>
      </div>

    </div>

    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
  </body>
</html>
