{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>This is Arif</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('.materialboxed').materialbox();
        $('#content').hide().fadeIn('slow');
      });
    </script>
  </head>
  <body>
    <div class="navbar-fixed">
      <nav class="light-blue darken-3">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo center hide-on-med-and-down"><i class="material-icons">home</i></a>
          <a href="/" class="brand-logo left hide-on-large-only"><i class="material-icons">home</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/profile/">Profile</a></li>
            <li><a href="/resume/">Resume</a></li>
            <li class="active"><a href="/portfolio/">Portfolio</a></li>
          </ul>
          <ul class="right hide-on-large-only">
            <li><a href="/profile/"><i class="material-icons">account_circle</i></a></li>
            <li><a href="/resume/"><i class="material-icons">list</i></a></li>
            <li class="active"><a href="/portfolio/"><i class="material-icons">apps</i></a></li>
          </ul>
        </div>
      </nav>
    </div>

    <div id="content">
      <div class="row">
        <div class="col s12 l3">
          <div class="card small">
            <div class="card-image">
              <img src="{% static 'images/fu.jpg' %}" class="materialboxed">
            </div>
            <div class="card-content">
              <span class="card-title activator">File Unhidder<i class="material-icons right">more_vert</i></span>
              <p>Desktop app</p>
            </div>
            <div class="card-reveal">
              <span class="card-title">File Unhidder<i class="material-icons right">close</i></span>
              <p>Utility application to show your hidden files and folders by virus.</p>
            </div>
          </div>
        </div>
        <div class="col s12 l3">
          <div class="card small">
            <div class="card-image">
              <img src="{% static 'images/odm.jpg' %}" class="materialboxed">
            </div>
            <div class="card-content">
              <span class="card-title activator">Officer Data Management<i class="material-icons right">more_vert</i></span>
              <p>Desktop app</p>
            </div>
            <div class="card-reveal">
              <span class="card-title">Officer Data Management<i class="material-icons right">close</i></span>
              <p>Employee information system.</p>
            </div>
          </div>
        </div>
        <div class="col s12 l3">
          <div class="card small">
            <div class="card-image">
              <img src="{% static 'images/fp.jpg' %}" class="materialboxed">
            </div>
            <div class="card-content">
              <span class="card-title activator">Fira Parking<i class="material-icons right">more_vert</i></span>
              <p>Desktop app</p>
            </div>
            <div class="card-reveal">
              <span class="card-title">Fira Parking<i class="material-icons right">close</i></span>
              <p>RFID integrated parking information system to calculate parking cost based on check-in and check-out time. </p>
            </div>
          </div>
        </div>
        <div class="col s12 l3">
          <div class="card small">
            <div class="card-image">
              <img src="{% static 'images/ar.png' %}" class="materialboxed">
            </div>
            <div class="card-content">
              <span class="card-title activator">AutoRelay<i class="material-icons right">more_vert</i></span>
              <p>IoT app</p>
            </div>
            <div class="card-reveal">
              <span class="card-title">AutoRelay<i class="material-icons right">close</i></span>
              <p>Mobile optimized light switch control for turning and/or scheduling your house light over network.</p>
            </div>
          </div>
        </div>
        <div class="col s12 l3">
          <div class="card small">
            <div class="card-image">
              <img src="{% static 'images/kw.jpg' %}" class="materialboxed">
            </div>
            <div class="card-content">
              <span class="card-title activator">Katsulogy.com<i class="material-icons right">more_vert</i></span>
              <p>Website</p>
            </div>
            <div class="card-reveal">
              <span class="card-title">Katsulogy.com<i class="material-icons right">close</i></span>
              <p>Katsulogy is a company engaged in information technology sector based in Indonesia.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
  </body>
</html>
