{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>This is Arif</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('#bigme').hide().fadeIn('slow');
      });
    </script>
  </head>
  <body>
    <div class="navbar-fixed">
      <nav class="light-blue darken-3">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo center hide-on-med-and-down"><i class="material-icons">home</i></a>
          <a href="/" class="brand-logo left hide-on-large-only"><i class="material-icons">home</i></a>
          <ul class="right hide-on-med-and-down">
            <li class="active"><a href="/profile/">Profile</a></li>
            <li><a href="/resume/">Resume</a></li>
            <li><a href="/portfolio/">Portfolio</a></li>
          </ul>
          <ul class="right hide-on-large-only">
            <li class="active"><a href="/profile/"><i class="material-icons">account_circle</i></a></li>
            <li><a href="/resume/"><i class="material-icons">list</i></a></li>
            <li><a href="/portfolio/"><i class="material-icons">apps</i></a></li>
          </ul>
        </div>
      </nav>
    </div>


      <div class="row valign-wrapper" id="bigme">
        <div class="col s12 grey lighten-4 center-align" style="border-bottom:2px solid #e0e0e0 ;">
          <img class="responsive-img circle" width="20%" src="{% static 'images/profile.jpg' %}" style="padding-top:10px;">
          <h4>Arif Wahyu Pramudiyanto</h4>
        </div>
      </div>

      <div class="row valign-wrapper" id="profile-data">
        <div class="col s12">
          <div class="card">
            <div class="card-content">
              <span class="card-title">My Profile</span>
              <table class="">
                <tr><td>Full name</td><td>: Arif Wahyu Pramudiyanto</td></tr>
                <tr><td>Gender</td><td>: Male</td></tr>
                <tr><td>City</td><td>: Tangerang</td></tr>
                <tr><td>Province</td><td>: Banten</td></tr>
                <tr><td>ZIP / Postal Code</td><td>: 15710</td></tr>
                <tr><td>Country</td><td>: Indonesia</td></tr>
                <tr><td>Phone</td><td>: <span class="new badge light-blue darken-3" data-badge-caption="please mail me."></span></td></tr>
                <tr><td>Email</td><td>: <a href="mailto:arif.mangaka@gmail.com">arif.mangaka@gmail.com</a></td></tr>
              </table>
            </div>
            <div class="card-action center">
              <a href="https://www.facebook.com/arif.stark" target="_blank"><i class="fab fa-facebook-square"></i></a>
              <a href="https://www.instagram.com/arifkatsu/" target="_blank"><i class="fab fa-instagram"></i></a>
              <a href="https://www.youtube.com/channel/UC7h-mVjoYCEgijjHvmt1soQ" target="_blank"><i class="fab fa-youtube"></i></a>
              <a href="https://www.katsulogy.com/" target="_blank"><i class="fas fa-link"></i></a>
              <a href="https://gitlab.com/firalab" target="_blank"><i class="fab fa-gitlab"></i></a>
            </div>
          </div>
        </div>
      </div>

    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
  </body>
</html>
