{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>This is Arif</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        $('#edu').hide().slideDown('slow');
        $('#exp').hide().slideDown('slow');
        $('#awd').hide().slideDown('slow');
        $('#skill').hide().slideDown('slow');
      });
    </script>
  </head>
  <body>
    <div class="navbar-fixed">
      <nav class="light-blue darken-3">
        <div class="nav-wrapper">
          <a href="/" class="brand-logo center hide-on-med-and-down"><i class="material-icons">home</i></a>
          <a href="/" class="brand-logo left hide-on-large-only"><i class="material-icons">home</i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/profile/">Profile</a></li>
            <li class="active"><a href="/resume/">Resume</a></li>
            <li><a href="/portfolio/">Portfolio</a></li>
          </ul>
          <ul class="right hide-on-large-only">
            <li><a href="/profile/"><i class="material-icons">account_circle</i></a></li>
            <li class="active"><a href="/resume/"><i class="material-icons">list</i></a></li>
            <li><a href="/portfolio/"><i class="material-icons">apps</i></a></li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="container">
      <div class="row" id="edu">
        <div class="col s12">
          <h3 class="light-blue-text text-darken-3">Education</h3>
          <h5>Institut Teknologi Indonesia</h5>
          <h6 class="grey-text">Bachelor of Computer Science</h6><br>
          <h5>SMK YUPPENTEK-2</h5>
          <h6 class="grey-text">Software Engineering Program</h6>
          <br><br><br><br><br>
        </div>

        <div class="col s12" id="exp">
          <h3 class="light-blue-text text-darken-3">Experience</h3>
          <h5>Academic Staff</h5>
          <h6 class="grey-text">SMK Yuppentek-2 (2018 - Present)</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed nibh bibendum, consectetur augue et, maximus odio. Pellentesque ultrices sit amet nibh quis viverra. Morbi finibus felis felis, eu elementum nibh aliquam sit amet. Aliquam ullamcorper cursus felis, mattis vestibulum libero tempus ac. Quisque ac vestibulum lectus, in gravida ex. </p><br>

          <h5>Informatics and Networking Staff</h5>
          <h6 class="grey-text">SMK Yuppentek-2 (2013 - 2018)</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed nibh bibendum, consectetur augue et, maximus odio. Pellentesque ultrices sit amet nibh quis viverra. Morbi finibus felis felis, eu elementum nibh aliquam sit amet. Aliquam ullamcorper cursus felis, mattis vestibulum libero tempus ac. Quisque ac vestibulum lectus, in gravida ex. </p><br>

          <h5>IT Technical Support</h5>
          <h6 class="grey-text">SMK Yuppentek-2 (2011 - 2013)</h6>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum sed nibh bibendum, consectetur augue et, maximus odio. Pellentesque ultrices sit amet nibh quis viverra. Morbi finibus felis felis, eu elementum nibh aliquam sit amet. Aliquam ullamcorper cursus felis, mattis vestibulum libero tempus ac. Quisque ac vestibulum lectus, in gravida ex. </p>
          <br><br><br><br><br>
        </div>

        <div class="col s12" id="awd">
          <h3 class="light-blue-text text-darken-3">Awards & Certifications</h3>
          <h5>Python Certification</h5>
          <h6 class="grey-text">Python Institute</h6><br>
          <h5>NetAcad Certification</h5>
          <h6 class="grey-text">Cisco Networking Academy</h6><br>
          <h5>Coding Teacher Academy</h5>
          <h6 class="grey-text">Kominfo - Digital Talent Scholarship 2019</h6><br>
          <h5>BNSP Certification</h5>
          <h6 class="grey-text">Workplace Assessment - LSP Telematika </h6><br>
          <h5>BNSP Certification</h5>
          <h6 class="grey-text">Network Administrator - LSP Telematika </h6><br>
          <h5>BNSP Certification</h5>
          <h6 class="grey-text">Digital Artist - LSP Telematika </h6><br>
          <h5>BNSP Certification</h5>
          <h6 class="grey-text">Workplace Assessment - Kemdikbud </h6><br>
          <br><br><br><br><br>
        </div>

        <div class="col s12" id="skill">
          <h3 class="light-blue-text text-darken-3">Skills</h3>
          <h5>Programming languages & Tools</h5>
          <i class="fab fa-html5 fa-3x light-blue-text text-darken-3"></i>&nbsp;
          <i class="fab fa-css3-alt fa-3x light-blue-text text-darken-3"></i>&nbsp;
          <i class="fab fa-js-square fa-3x light-blue-text text-darken-3"></i>&nbsp;
          <i class="fab fa-php fa-3x light-blue-text text-darken-3"></i>&nbsp;
          <i class="fas fa-database fa-3x light-blue-text text-darken-3"></i>&nbsp;
          <i class="fab fa-linux fa-3x light-blue-text text-darken-3"></i>&nbsp;
          <i class="fab fa-python fa-3x light-blue-text text-darken-3"></i>&nbsp;
          <i class="fab fa-gitlab fa-3x light-blue-text text-darken-3"></i>&nbsp;
          <i class="fab fa-wordpress fa-3x light-blue-text text-darken-3"></i>&nbsp;
          <i class="fab fa-node-js fa-3x light-blue-text text-darken-3"></i>&nbsp;
          <i class="fab fa-npm fa-3x light-blue-text text-darken-3"></i>&nbsp;
        </div>
      </div>
    </div>

    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
  </body>
</html>
